@import url('https://fonts.googleapis.com/css2?family=DM+Sans');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home {
  text-align: left;
  margin: 20px 30px;
}

div {
  font-family: 'DM Sans', sans-serif;
}

.banner {
  text-align: left;
  padding: 20px 35px;
  background-color: lightblue;
  display: flex;
  align-items: flex-end;
  font-size: 24px;
  justify-items: left;
}

.banner h1, .banner h3 {
  margin: 0;
}

.banner h3 {
  font-size: 20px;
  margin-left: 10px;
  margin-bottom: 8px;
}

.searchBox {
  width: 300px;
  height: 20px;
  padding: 5px;
  text-align: center;
  font-size: 16px;
  border-radius: 10px;
  margin-left: auto;
}

.professor {
  border-radius: 15px;
  margin: 15px 0px;
  padding: 0px 15px;
  background-color: rgb(204, 233, 243);
}

.great, .good, .okay, .poor {
  padding: 5px;
  border-radius: 5px;
}

.quality .great {
  background-color: green;
}

.quality .good {
  background-color: yellow;
}

.quality .okay {
  background-color: orange;
}

.quality .poor {
  background-color: red;
}

.professorContents {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 0px;
}

.search-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}